<div class = "center">
  <h1><%= @user.name %>さん こんにちは</h1>
  <p>メールアドレス: <%= @user.email %></p>
  <% if @user.image.present? %>
  <%= image_tag(@user.image.url) %>
  <% end %>
    <%= link_to "投稿してみる", new_voice_path ,class:'btn btn-primary'%>
    <br>
  <div class="container_fuild">
     <div class = "main">
      <div class="row">
        <div class="col-xs-12">

          <div class = "summary">          

        
          <h1>いいね！一覧</h1>
            <% @favorites_voices.each do |favorite| %>
            
　　　　　　  <li><%= favorite.user.name %>　さん</li>
              <li><%= favorite.content %></li>
              <span><%= link_to 'いいね！を取り消す', voice_path(favorite), class: 'btn btn-success'%></span>
            
              <br>
            <% end %>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div> 