<%= form_with(model: @voice, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @voice.errors.any? %>
    <div id="error_explanation">
      <h2><%= @voice.errors.count %>件のエラーがあります</h2>
      
      <ul>
        <% @voice.errors.full_messages.each do |msg| %> 
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="voice_title">  
  <div class="container_fuild">
    <div class="row">
      <%= form.label :"What are you doing now?" ,class: "form_label"%><br>
      <%= form.label :"let's tweet now!" ,class: "form_label"%><br>
      <%= form.label :"let's talk voice!" ,class: "form_label"%><br>
 
      <div class="col-md-offset-4 col-xs-offset-1 col-xs-4">
        <%= form.text_field :content, size: "10x5" %>
      </div>
      <br>
      <div class="col-md-offset-4 col-xs-offset-1 col-xs-4">
        <%= form.submit "tweet", class: 'btn btn-info' %>
        <% end %>
      </div>
    </div>
  </div>  
</div>
  
<div class ="back">
  <div class="col-md-offset-2 col-md-10">
    <%= link_to "back to the voice", voices_path, class: 'btn btn-warning'  %>
  </div>
</div>
