
<div class = "center">
 <div class="container">
   　<p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-offset-6 col-md-4">
      <div class="card card-container">
　　　

　　　　<h1>Name:</h1>
　　　　<p><%= @contact.name %></p>

　　　　<h1>Email:</h1>
　　　　<p><%= @contact.email %></p>

        <h1>Content:</h1>
        <p><%= @contact.content %></p>


　　　　<h2><%= link_to 'Edit', edit_contact_path(@contact) %>
　　　　<%= link_to 'Back', new_contact_path %></h2>
      </div>
    </div>
  </div>
 </div>
</div>
