<!DOCTYPE html>
<html>
  <head>
    <title>Voiceapp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = container_fuild>
  <nav class="navbar navbar-inverse">
    <a href="#"><%= image_tag 'twitter-3d-front-icon.png',class:"profile_img"%></a>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
      <span class="sr-only">メニュー</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
 
  <div id="gnavi" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
       <li><a href="/voices/new">新規投稿</a></li>
       <li><a href="/voices">Voice一覧</a></li>
    <% if logged_in? %>
       <li><%= link_to "プロフィール", user_path(current_user.id) %></li>
       <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
    <% else %>
       <li><%= link_to "トップ", tops_voices_path %></li>
    <% end %>
    </ul>
  </div>
</nav>
</div>

    <div class = "key">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    </div>
    
<%= yield %>
    
<footer class="footer">
  <div class = container_fuild>
  <p>aya ehira　2017/10</p>
  </div>
</footer>
</body>
</html>